<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Folder</title>
</head>

<body>
  <form action="/edit-folder/<%= id %>" method="get">
    <button type="submit">Edit Folder Name</button>
  </form>
  <form action="/delete-folder/<%= id %>" method="post">
    <button type="submit">Delete Folder</button>
  </form>
  <% if (files) { %>
  <h2>Files</h2>
  <ul>
    <% files.forEach(file => { %>
    <% const date = file.uploadedAt.toLocaleDateString() + ' ' + file.uploadedAt.toLocaleTimeString() %>
    <li>
      <p>Name: <%= file.originalname %></p>
      <p>Size: <%= file.size %> Bytes</p>
      <p>Upload Time: <%= date %></p>
      <form action="/download/<%= file.id %>" method="get">
        <button type="submit">Download Image</button>
      </form>
    </li>
    <% }) %>
  </ul>
  <% } %>
  <form action="/upload/<%= id %>" method="get">
    <button type="submit">Upload Image</button>
  </form>
</body>

</html>